<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Summarizer</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
</head>
 
<body>
 
    
 
        <div class="jumbotron" align="center">
            <h1>Summarize</h1>
        </div>
<div class="container">

  <form action="/" class="summarize" method="POST">
    <div class="form-group">
        
          <textarea required class="form-control" rows="5" name="paragraph" id="comment" placeholder="Enter your paragraph here"></textarea>
        </div>
    
    <button type="submit" class="btn btn-default">Summarize!</button>
  </form>
</div>
 
       
    </div>
</body>
 
</html>